 <!-- dashboard.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <!-- Balance Section -->
    <div class="balance-section">
      <div class="balance-item">
        <p>Recharge Wallet</p>
        <span>Rs 0</span>
      </div>
      <div class="balance-item">
        <p>Balance Wallet</p>
        <span>Rs 0</span>
      </div>

      <ul>
      <div class="balance-item">
        <p>Total Income</p>
        <span>0</span>
      </div>
      <div class="balance-item">
        <p>Total Recharge</p>
        <span>0</span>
      </div>
      <div class="balance-item">
        <p>Total Assets</p>
        <span>0</span>
      </div>
        </ul>


    <div class="balance-item">
        <p>Total withdraw</p>
        <span>0</span>
      </div>
      <div class="balance-item">
        <p>Total income</p>
        <span>0</span>
      </div>
      <div class="balance-item">
        <p>Team Income</p>
        <span>0</span>
      </div>
    </div>

    <div class="transaction-section">
      <ul>
        <a href="#">Transaction</a>
        <a href="#">Recharge</a>
        <a href="#">withdraw</a>
        <a href="#">Refer Friends</a>
      </ul>
    </div>

    <div class="user-profile">
      <ul>
        <li><a href="#">My Order</a></li>
        <li><a href="#">My Coupon</a></li>
        <li><a href="#">Gift</a></li>
        <li><a href="#">My Bank account</a></li>
        <li><a href="#">Change Password</a></li>
        <li><a href="#">Withdraw Password</a></li>
        <li><a href="#">Online Service</a></li>
      </ul>
    </div>


  </div>
  </div>
{% endblock %}
